body {
	font-family: 'Roboto', sans-serif;
	color: black;
  background: white;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
}
/* sticky navigation bar that's hidden until scrolling */
#nav {
	height:70px;
	width: 100%;
	position:fixed;
	padding-top: 2px;
	top:0;
	left:0;
	background-color:#ac0008;
	z-index:9999;
  display: none;
/* drop shadow on navbar
	-webkit-box-shadow: 0 10px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 10px 6px -6px #999; */
}
#nav2 {
  display: none;
  height: 4em;
  width: 100%;
  position: relative;
  top: 0;
  background-color: #ac0008;
}
/* start - making the menu on navbar transparent */
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
/* end - making the navbar transparent */
.navbar .nav > li > a {
    float: none;
    font-size: 14px;
    line-height: 26px;
    padding: 9px 10px 11px;
    text-decoration: none;
    color:  #ddd;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}
.frontPage {
  width: 100%;
  background: url(../assets/images/hero01.jpg);
    background-position-x: 50%;
    background-position-y: 50%; 
    background-size: cover;   
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-origin: initial;
    background-clip: border-box;
    background-color: initial;
  background-size: cover;
  min-height: 40em;
  position: relative;
  background-clip: border-box;
}
#const-background {
  background: url(../assets/images/const-piping.jpg);
    background-position-x: 50%;
    background-position-y: 50%; 
    background-size: cover;   
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-origin: initial;
    background-clip: border-box;
    background-color: initial;
  background-size: cover;
  position: relative;
  background-clip: border-box;
  padding-bottom: 100px;
}
a {
  text-decoration: none !important;
}
i.Const {
  font-size: 48px;
  color: #4d4d4d;
}
i.Coat {
  font-size: 60px;
  color: #4d4d4d;
}
i.vacTab {
  font-size: 60px;
  color: #4d4d4d;
}
.mousetoHand{
	cursor: pointer;
}
.text-muted {
	color: #BCBB30;
}
b {
	font-style: bold;
	color: #ac0008;
}
img.divider {
  min-height: 200px;
  opacity: 0.7;
}
img.frontPageLogo {
  max-height: 85px;
  padding-left: 20px;
  padding-top: 20px;
}
.text-thin {
	font-weight: 100;
}
.title-super {
	font-weight: 900;
}
.title-logo {
	margin-top: 40px;
}
p.main {
	text-align: justify;
}
p.vacuumSpill {
  font-size: 14px;
}
p.vacuumCall {
  font-size: 28px;
}
p.subHeadLarge {
  font-size: 32px;
}
p.subHeadMed {
  font-size: 24px;
}
.textContainer {
	vertical-align: middle;
	display: inline-block;
}
.hrpadding {
	margin-top: 1px;
	margin-bottom: 1px;
}
ul {
    text-align: left;
    list-style-position: inside;
    text-decoration: none;
}
ul.clients {
    list-style-position: inside;
    text-decoration: none;
    text-align: center;
}
.center {
    text-align: center;
}

/* start - removing edge gutter in columns */
.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.row.row-no-gutter {
    margin: 0
}
.row.row-no-gutter [class*="col-"] {
    padding: 0
}
.img-full-width {
    width: 100.5%;
    height: auto;
}
.has-inner .row.row-no-gutter {
    margin-left: -10px;
    margin-right: -10px;
}
.row.row-no-gutter .inner {
    padding-left: 10px;
    padding-right: 10px;
}
/* end - removing edge gutter in columns */

.top-buffer {
	padding-top: 50px;
}
.aboutPadding {
  padding: 40px;
}
.bottom-buffer {
  padding-bottom: 50px;
}
.hogwash img {
  position: relative;
  top: 75%;

}
h1 {
  font-size: 60px;
  font-weight: 100;
}
h3 {
	display: inline;
}
h4 {
  color: #ac0008;
  text-transform: uppercase;
}
h5.ColumnHead {
  color: #ac0008;
  font-size: 16px;
}
p.button {
  text-align: center;
}
p.address {
  font-size: 12px;
}
#contactBtn {
  margin: 2px;
}
#Contact {
  top: 10%;
}
#Career {
  top: 10%;
}

.aboutHeader {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 10px;
    border: 2px dotted #ac0008;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    padding: -20px;
    z-index: 5;
    background: #fff;
}
.clientsHeader {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    /*position: relative;*/
    bottom: 10px;
    border: 2px dotted #ac0008;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    padding: -20px;
    z-index: 5;
    background: #fff;
}
.constHeader {
    width: 70%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 10px;
    border: 2px dotted #ac0008;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    padding: -20px;
    z-index: 5;
    background: #fff;
}
.envHeader {
    width: 70%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 10px;
    border: 2px dotted #ac0008;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    padding: -20px;
    z-index: 5;
    background: #fff;
}
.svcsHeader {
    width: 70%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 10px;
    border: 2px dotted #ac0008;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    padding: -20px;
    z-index: 5;
    background: #fff;
}
.stuffBox {
    border: 3px solid #ac0008;
    border-radius: 8px;
    background: #fff;
    padding: 20px;
    z-index: 4
}
.logo-client {
  padding: 30px;
  vertical-align: middle;
}
.logo-client img {
  max-height: 80px;
  opacity: .35;
}
.quoteSectionColor {
  background-color: #E6E6E6 !important;
  height: 200px;
}
.contactTop {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0px;
  z-index: 2;
}
.frontPgConctRowRgt {
  height: 75px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ac0008;
  bottom: 0px;
  opacity: 0.8;
}
.frontPgConctRowLft {
  height: 75px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ac0008;
  bottom: 0px;
  opacity: 0.8;
}
.frontPgConctCtrCol {
  height: 105px;
  position: absolute;
  bottom: 0; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}
.const-col {
  background: rgba(255,255,255,0.5); 
  border-radius: 5px;
  min-height: 300px;
  margin-top: 30px;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.wrap {
  /* force the div to properly contain the floated images: */
  position:relative;
  float:left;
  clear:none;
  overflow:hidden;
  width: 100%;
}
.wrap img {
  position:relative;
  z-index:1;
  width: 100%;
}
.companyName {
  display:block;
  color: white;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  position:absolute;
  width:100%;
  top:30%;
  left:0;
  z-index:2;
  text-align:center;
}
.companyDesc {
  font-size: 12px;
  display:block;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  position:absolute;
  width:100%;
  top:1%;
  left:0;
  z-index:2;
  text-align:center;
}
.contactBtnInvs {
  display: none;
}
.contactTopText {
  display:block;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  top:15%;
  z-index:1;
}
.wrap .hr {
  border:none;
  border-top:1px dotted;
  display:block;
  color: white;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  position:absolute;
  width:100%;
  top:35%;
  left:0;
  z-index:2;
  text-align:center;
}
.companyDescInvs {
  display:none;
}
.input-group[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.popover   {
  background-color: #e74c3c;
  color: #ecf0f1;
  width: 120px;
}
.popover.right .arrow:after {
  border-right-color: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* logo header */
header {
  height:100px;
  position:fixed;
  right:0;
  left:0;
  z-index:100;
}
.sub-footer {
  height:250px;
  background-color: #990007;
  color: white;
}
.footerNav > li > a {
  color: white;
  text-decoration: none;
}
.btn-contact {
  position: fixed;
  width: 125px;
  bottom: 1em;
  right: 75px;
  text-decoration: none;
  color: white;
  background-color:gray;
  font-size: 14px;
  padding: 1em;
  z-index: 9999;
}
.btn:hover {
  background-color: rgba(135, 135, 135);
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid white;
    color: white;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: gray;
    border-color: gray;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: black;
    color: black;
    background-color: white;
    box-shadow: none;
}

.footer {
  height: 75px;
  background-color: #330002;
  color: gray;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index:100;
}
.subfooterInfoSmall {
  display: none;
}

#map {
  width: 250px;
  height: 100px;
  background-color: white;
}

.tabIcons {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  position: relative;
  border: 3px solid #4d4d4d;
  border-radius: 70px;
  text-align: center;
  overflow: hidden;
  padding: 30px;
  z-index: 5;
}

/*----- Tabs Section -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
    .tab-links li {
        margin:0px auto;
        float:left;
        list-style:none;
        position: relative;
        display: inline-block;
        width: 150px;
        margin-left: 30px;
    }
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            font-size:16px;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
        .tab-links i:hover {
            color:#ac0008;
            text-decoration:none;
        }

    li.active a, li.active a:hover {
        background:#fff;
        color:#ac0008;
        font-weight: 600;
    }
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;

        background:#fff;
    }
        .tab {
            display:none;
        }
        .tab.active {
            display:block;
        }
/*----- End Tabs Section -----*/
/*** media queries ***/

/* transparent mini navbar converts to solid bg on media querie */
@media(max-width: 1200px) {
  .navbar-transparent {
    background: #ac0008 !important; /*Add your own background*/
  }
}

@media (max-width: 1024px) {
/* tablets and desktop */
  h1  {
    font-size: 3em;
  }
  h2  {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
    color: #ac0008;
  }
   .subfooterMapGone {
      display: none;
    }
}
 
@media (max-width: 990px) {
    .navbar .nav > li > a {
      font-size: .74em;
    }
    .frontPage {
      display: block;

      position: relative;
      min-height: 22em;
    }

    /* put menu button on the right
    .navbar-header {
        float: none;
    }
    /* This is the three line menu button
    .navbar-toggle { 
        display: block;
    }
    /* aligns menu list to the left
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    /* puts menu items in a list instead of two rows
    .navbar-nav>li {
        float: none;
        font-size: 10px;
    } 
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    } */
}

@media (max-width: 768px) {
/* phones */
header {
  font-size: 18pt;
}
  h1  {
    font-size: 1.5em;
  }
p {
  font-size: 10pt;
}
.wrap .companyDesc {
  display:none;
}
.wrap .companyName {
  top:5%;
}
.companyDescInvs {
  display:block; 
  font-size: 9pt;
  text-align:center;
  margin-top: 30px; 
}
.contactBtnInvs {
  display: inline;
  text-align: center;
}
.logo-client {
  height: auto;
  width: 50%;
}
.quoteSectionColor {
  height: 225px;
}
.frontPage {
  display: block;

  position: relative;
  min-height: 8em;
}
.contactTop {
  display: none;
}
.contactTopText {
  display: none;
}
.companyDesc {
  display: none;
}
.companyName {
  display: none;
}
.phoneButton {
  display: none;
}
.sub-footer {
  height:95px;
  background-color: #990007;
  right:0;
  left:0;
}
.subfooterInfoGone {
  display: none;
}
.subfooterInfoSmall {
  display: inline-block;
  margin-top: -50px;
}
.footer {
  height: 55px;
  background-color: #330002;
  color: gray;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  z-index:100;
}
.crText {
  font-size: .7em;
}
.btn-contact {
  position: fixed;
  height: 10px;
  bottom: 1em;
  right: 75px;
  text-decoration: none;
  color: white;
  background-color:gray;
  font-size: 14px;
  line-height: 0.2;
  z-index: 9999;
}

/* #nav {
  display: none;
  visibility: hidden;
} removed fro Stackoverflow question
#nav2 {
  visibility: visible;
  position: fixed;
  z-index: 9999;
  display: inline-block;
} */

/* align images to bottom of column set */
@media only screen and (min-width : 768px) {

/* spacing for 3 column set on Services and About sections */
.row.row-table {
  display: table;
}
/* used for columns for staff profiles
[class*="col-md-4"] {
  float: none;
  width: 33%;
  display: table-cell;
  vertical-align: top;
  position: relative;
  padding-bottom: 150px;
}
*/
p.img {
  position: absolute;
  bottom: 0;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
}


} /* closing bracket for 768px media screen */